.body {
    display: flex;
    width: 500;
    justify-content: center;
}
.header {
    display: flex; 
    justify-content: space-between; 
    background-color: #1F2937; 
    font-size: 18px;
    padding-bottom: 150px;
}

.content-right, .content-left {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    gap: 20px;
    align-items: center;
}

.content-left {
    gap: 8px;
    color: #E5E7EB;
    font-size: 24px;
    margin-left: 500px;
}

.content-right {
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 500px;
}

.hero {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding-bottom: 150px;
   }

.hero-left {
    display: flex;
    flex-wrap: wrap;  
    margin-left: 500px; 
    width: 300px;  
    margin-right: 40px;  
}
.hero-right {
    display: flex;
}

.top-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8
}

.mid-text {
    font-size: 18px;
    color: #E5E7EB;
}
button {
    background-color: #3882f6;
    border-radius: 12px;
    border: #3882f6;
    width: 150px;
    height: auto;
    margin-top: 20px;
}
.hero-right {
    margin-right: 500px;
    height: 250px;
    border: #1d3538 solid 1px;
    flex: auto;
}   

img {
    width: 100%
}
