.body {
    display: flex;
    width: 500;
    justify-content: center;
}
.header {
    display: flex; 
    justify-content: space-between; 
    background-color: #1F2937; 
    font-size: 18px;
    padding-bottom: 150px;
}

.content-right, .content-left {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    gap: 20px;
    align-items: center;
}

.content-left {
    gap: 8px;
    color: #E5E7EB;
    font-size: 24px;
    margin-left: 250px;
}

.content-right {
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 250px;
}

.hero {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
   }

.hero-left {
    display: flex;
    flex-wrap: wrap;  
    margin-left: 250px; 
    width: 500px;
}

button {
    background-color: #3882f6;
    border-radius: 12px;
    border: #3882f6;
}
.hero-right {
    margin-right: 250px;
}